# Home
Desktop
Documents
Downloads
Music
Pictures
Public
snap
Templates
Videos
.cache
.gnupg
.local
.npm
.pki
.ssh
.bash_history
.bash_logout
.bashrc
.gitconfig
.p10k.zsh
.profile
.sudo_as_admin_successful
.zcompdump
.zhistory
.bun

# .config
dconf
enchant
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
ibus
lazygit
nautilus
pulse
tiling-assistant
update-notifier
gnome-initial-setup-done
GNOME-xdg-terminals.list
kdenlive-appimagerc
kdenlive-layoutsrc
mimeapps.list
monitors.xml
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
.gsd-keyboard.settings-ported
